<main>
    <section class="form-section">
        <img class="img-icone" src="/assets/img/icone-login.png"/>
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btns">
            <button class="btn1" (click)="submit()">{{ btn1}}</button>
            <div class="dividir">
                <div></div>
                <span>OU</span>
                <div></div>
            </div>
            <button class="btn2" (click)="cadastro">{{ btn2 }}</button>
        </div>
    </section>
    <section class="main-section">
        <h2>App Login</h2>
        <img src="/assets/img/imagem_senha.jpg"/>
    </section>
</main>
